/* reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}

/* end of reset */

/* container */
.container {
	max-width: 1050px;
	margin: 0 auto;
	/* border: 2px solid red; */
}
.container {
	background-color: #1f2937;
}
/* End of container */

/* nav */
nav {
	display: flex;
	justify-content: space-between;
	padding: 10px 150px;
}
ul {
	display: flex;
}
ul li {
	margin-left: 15px;
}
/* end of nav */

/* sections*/
section {
	padding: 40px 150px;
	/* border: 2px solid blue; */
}
/* End of sections */

/* header */
.header_info {
	display: flex;
}

.hero_logo {
	color: #f9faf8;
	font-size: 24px;
}

.hero_button {
	width: 25%;
	padding: 5px;
	color: white;
	background-color: #3882f6;
	border-radius: 5px;
	margin-top: 5px;
	border: none;
}

.header_description {
	width: 40%;
	/* border: 2px solid red; */
	display: flex;
	justify-content: center;
}

.image_placeholder {
	width: 60%;
	/* border: 2px solid red; */
	display: flex;
	justify-content: center;
	background-color: gray;
	flex-direction: column;
}
#placeholder_text {
	margin: 0 auto;
	color: #ffffff;
	align-items: center;
}
.header_description {
	flex-direction: column;
}

.hero_main_text {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
}

.hero_secondary_text {
	font-size: 20px;
	color: #f9faf8;
}

#hero_secondary_text {
	color: #f9faf8;
}
/* End of header */

/* section_two */
.section_two {
	background-color: white;
}

.section_two h3 {
	text-align: center;
	font-size: x-large;
	margin-bottom: 1.5rem;
}

.info_cards {
	display: flex;
	justify-content: space-around;
}

.card {
	width: 20%;
	/* border: 2px solid yellow; */
}

.card_image {
	height: 100px;
	width: 100px;
	border: 2px solid #3882f6;
	margin: 0 auto;
	border-radius: 10px;
}

.card_Text {
	text-align: center;
	width: 150px;
	margin: 0 auto;
}
/* End of section two */

/* section three */
.section_three {
	text-align: center;
	background-color: #e5e7eb;
}

.section_three q {
	font-size: 36px;
	color: #1f2937;
	font-weight: lighter;
}

.section_three p {
	margin-right: -600px;
	font-weight: bolder;
}

/* End of section three */

/* section four */
.section_four {
	/* border: 2px solid red; */
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
}

.action {
	/* border: 2px solid red; */
	color: #ffffff;
	background-color: #3882f6;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	border-radius: 5px;
}

.action_text {
	/* border: 2px solid red; */
}

.section_four button {
	margin-top: 10px;
	background-color: #3882f6;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
	width: 80px;
}

.action_text_secondary {
	color: #1f2937;
}
/* end of section four */

/* footer */
.footer_text {
	text-align: center;
	color: #ffffff;
	background-color: #1f2937;
	padding: 1.5rem;
}
/* end of footer */
